*{
    margin: 0;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    padding: 15px 0 ;
}

.container{
    width: 1240px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    gap: 30px;
}
 ul li a{
    color: white;
    font-size: 18px;
 }

h1{
    text-align: center;
    font-size: 88px;
    width: 743px;
    margin: 114px auto ;
}

.box{
    width: 393px;
    text-align: center;
}

.title{
    font-size: 20px;
    font-weight: bold;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}



